<mat-tab-group mat-align-tabs="start" class="ajuste">
    <mat-tab label="Cursos atuais">
        <ng-container fxLayout="row wrap" fxLayoutAlign="start center" class="div">
            <div class="estilo">
                <mat-card class="mat-card" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                    fxflex.lt-sm="100%">

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                     encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Angular 9</span>
                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center">
                                        <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Spring Boot</span>

                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>

                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Mysql</span>
                                </p>


                            </div>

                        </ng-container>


                    </mat-card-title>


                    <mat-card-content>






                    </mat-card-content>



                </mat-card>
                <div class="div1" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                    fxflex.lt-sm="100%">

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Angular 9</span>
                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center">
                                        <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Spring Boot</span>

                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>

                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Mysql</span>
                                </p>


                            </div>

                        </ng-container>


                    </mat-card-title>


                    <mat-card-content>






                    </mat-card-content>



                </div>

                <div class="div2" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                fxflex.lt-sm="100%">

                <mat-card-title class="mat-card-title">
                    <ng-container class="row">
                        <div>
                            <p>
                                <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                        src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                             encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                <span fxFlex="5"></span>
                                <span class="data">Curso de Angular 9</span>
                            </p>


                        </div>

                    </ng-container>
                </mat-card-title>

                <mat-card-title class="mat-card-title">
                    <ng-container class="row">
                        <div>
                            <p>
                                <span fxFlex="70" fxLayoutAlign="start center">
                                    <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                                <span fxFlex="5"></span>
                                <span class="data">Curso de Spring Boot</span>

                            </p>


                        </div>

                    </ng-container>
                </mat-card-title>

                <mat-card-title class="mat-card-title">
                    <ng-container class="row">
                        <div>
                            <p>

                                <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                        src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; 
                                autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe></span>
                                <span fxFlex="5"></span>
                                <span class="data">Curso de Mysql</span>
                            </p>


                        </div>

                    </ng-container>


                </mat-card-title>


                <mat-card-content>






                </mat-card-content>



            </div>


            </div>

        </ng-container>
    </mat-tab>
    <mat-tab label="Cursos passados">
       
        <div class="div" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                    fxflex.lt-sm="100%">

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Angular 9</span>
                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center">
                                        <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Spring Boot</span>

                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>

                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Mysql</span>
                                </p>


                            </div>

                        </ng-container>


                    </mat-card-title>


                    <mat-card-content>






                    </mat-card-content>



                </div>
        <div class="div1" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                    fxflex.lt-sm="100%">

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Angular 9</span>
                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center">
                                        <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Spring Boot</span>

                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>

                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Mysql</span>
                                </p>


                            </div>

                        </ng-container>


                    </mat-card-title>


                    <mat-card-content>






                    </mat-card-content>



                </div>
                <div class="div2" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
                    fxflex.lt-sm="100%">

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/AeoxDGhsmQE" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                                 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Angular 9</span>
                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>
                                    <span fxFlex="70" fxLayoutAlign="start center">
                                        <iframe width="350" height="250" src="https://www.youtube.com/embed/9GWK9A79tEc"
                                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                                    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Spring Boot</span>

                                </p>


                            </div>

                        </ng-container>
                    </mat-card-title>

                    <mat-card-title class="mat-card-title">
                        <ng-container class="row">
                            <div>
                                <p>

                                    <span fxFlex="70" fxLayoutAlign="start center"><iframe width="350" height="250"
                                            src="https://www.youtube.com/embed/Ofktsne-utM" title="YouTube video player"
                                            frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe></span>
                                    <span fxFlex="5"></span>
                                    <span class="data">Curso de Mysql</span>
                                </p>


                            </div>

                        </ng-container>


                    </mat-card-title>


                    <mat-card-content>






                    </mat-card-content>



                </div>


    </mat-tab>
</mat-tab-group>